header{
    background-color: rgba(116, 114, 250, 0.747);
    padding: 15px 0px;
}
header nav ul{
    display: flex;
    justify-content: space-evenly;
    
}
header nav ul li{
    list-style: none;
    text-decoration: none;
    
    
}
#flex{
    display: flex;
    
}
#box-1{
    flex-grow: 1;
}
.box{
    height: 200px;
    width: 200px;
    border: 1px solid red;
    background-color: green;
}