header{
    background-color: rgba(116, 114, 250, 0.747);
    padding: 15px 0px;
}
header nav ul{
    display: flex;
    justify-content: space-evenly;
}
header nav ul li{
    list-style: none;
    
}
.box{
    height: 200px;
    width: 200px;
    border: 1px solid red;
    background-color: rgb(73, 43, 48);
    transition: width 5s;
}
.box:hover{
    width: 600px;
}